* {
	margin: 0;
	padding: 0;
}

body {

  .app {
  	background-image: url(../assets/worldmap.svg);
  	background-repeat: no-repeat;
    background-color: black;
  	overflow: hidden;

    canvas {
      // background-color: yellow;
    }
  }

}
