@font-face {
    font-family: 'theano_didotregular';
    src: url('../assets/font/theanodidot-regular-webfont.eot');
    src: url('../assets/font/theanodidot-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/theanodidot-regular-webfont.woff2') format('woff2'),
         url('../assets/font/theanodidot-regular-webfont.woff') format('woff'),
         url('../assets/font/theanodidot-regular-webfont.ttf') format('truetype'),
         url('../assets/font/theanodidot-regular-webfont.svg#theano_didotregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'source_sans_probold';
    src: url('../assets/font/sourcesanspro-bold-webfont.eot');
    src: url('../assets/font/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../assets/font/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('../assets/font/sourcesanspro-bold-webfont.woff') format('woff'),
         url('../assets/font/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('../assets/font/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}


.timeline ul li {
	font-family: 'theano_didotregular';
	font-style: italic;
	font-weight: 300;
}


h1{
    font-family: 'source_sans_probold';
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
}



h2{
    font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
    font-size:24px;
    font-weight: 100;
    // font-style: italic;

}


h3{
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'theano_didotregular';
    font-size: 28px;
    line-height: 64px;

    &:after{
        content: '';
        position: relative;
        display: block;
        margin: 0 auto;
        margin-bottom: 12px;
        height: 4px;
        width: 60px;
        background-color: white;
    }
}

h4{
    font-family: 'theano_didotregular';
    font-style: italic;
    font-size: 42px;
    line-height: 50px;
}

h5{
    font-family: 'source_sans_probold';
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:after{
        content: '';
        position: relative;
        display: block;
        margin: 0 auto;
        margin-top: 8px;
        height: 4px;
        width: 60px;
        background-color: white;
    }
}
