.ct-chart {
  svg {
    margin: auto;
    left: calc(50% - 250px) !important;
    padding-top: 25px;
  }
  .ct-series-a {
    .ct-point {
      stroke: blue;
    }
  }

  .ct-label {
    color: white !important ;
    fill: rgba(255, 255, 255, 1) !important;
  }
  .ct-horizontal {
    margin-left: -15px;
    padding-top: 5px;
  }
}
