.timeline-year-selected{
	position: absolute;
	top: -72px;
	left: 10%;
	color: white;
	font-size: 64px;
	font-style: italic;
}

.timeline{
	position: absolute;
	width: 100%;
	top: 92vh;

	ul{
		display: block;
		text-align: center;
		width: 50vw;
		margin: 0 auto;

		li{
			display: inline-block;
			width: calc(50vw / 11);
			color: white;
			line-height: 40px;

			a{
				z-index: 100;
				position: relative;
				display: block;
				margin: 0 auto;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				background-color: white;

				transition: all 0.4s ease-in-out;

				&:hover{
					transform: scale(1.3);
				}
			}
		}
	} 

	&:before{
		display: block;
		position: absolute;
		margin-top: 8px;
		content: '';
		width: 100%;
		height: 4px;
		background-color: $lightgray;

		transition: width 0.4s ease-in-out;
	}

	&:after{
		display: block;
		z-index: 10;
		position: absolute;
		margin-top: -52px;
		content: '';
		height: 4px;
		background-color: $fff;

		-webkit-animation: mymove 45s infinite; /* Chrome, Safari, Opera */ 
    	animation: mymove 45s infinite;
    	animation-timing-function: linear;
	}

}


// TIMMER

/* Chrome, Safari, Opera */ 
@-webkit-keyframes mymove {
    0%   {width: 0%;}
    10%  {width: 27%}
    90%  {width: 73%}
    100% {width: 100%;}
 } 

/* Standard syntax */
@keyframes mymove {
    0%   {width: 0%;}
    10%  {width: 27%}
    90%  {width: 73%}
    100% {width: 100%;}
}




.timeline-dot-actif{
	&:after{
		content: '';
		position: relative;
		display: block;
		width:12px;
		height: 12px;
		background-color: $darkgray;
		border: 4px solid white;
		border-radius: 50%;

	}
}















