@font-face {
  font-family: 'theano_didotregular';
  src: url("../assets/font/theanodidot-regular-webfont.eot");
  src: url("../assets/font/theanodidot-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/theanodidot-regular-webfont.woff2") format("woff2"), url("../assets/font/theanodidot-regular-webfont.woff") format("woff"), url("../assets/font/theanodidot-regular-webfont.ttf") format("truetype"), url("../assets/font/theanodidot-regular-webfont.svg#theano_didotregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'source_sans_probold';
  src: url("../assets/font/sourcesanspro-bold-webfont.eot");
  src: url("../assets/font/sourcesanspro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../assets/font/sourcesanspro-bold-webfont.woff2") format("woff2"), url("../assets/font/sourcesanspro-bold-webfont.woff") format("woff"), url("../assets/font/sourcesanspro-bold-webfont.ttf") format("truetype"), url("../assets/font/sourcesanspro-bold-webfont.svg#source_sans_probold") format("svg");
  font-weight: normal;
  font-style: normal; }

.timeline ul li {
  font-family: 'theano_didotregular';
  font-style: italic;
  font-weight: 300; }

h1 {
  font-family: 'source_sans_probold';
  font-size: 32px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 10px; }

h2 {
  font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  font-size: 24px;
  font-weight: 100; }

h3 {
  text-transform: capitalize;
  letter-spacing: 1px;
  font-family: 'theano_didotregular';
  font-size: 28px;
  line-height: 64px; }
  h3:after {
    content: '';
    position: relative;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    height: 4px;
    width: 60px;
    background-color: white; }

h4 {
  font-family: 'theano_didotregular';
  font-style: italic;
  font-size: 42px;
  line-height: 50px; }

h5 {
  font-family: 'source_sans_probold';
  font-size: 24px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px; }
  h5:after {
    content: '';
    position: relative;
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    height: 4px;
    width: 60px;
    background-color: white; }

.landing {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  z-index: 9999; }

.landing_container {
  position: relative;
  display: block;
  margin: 0 auto;
  top: calc(50% - 250px);
  text-align: center;
  color: white;
  transition: all 1s ease-in-out; }
  .landing_container img {
    margin-bottom: 42px; }
  .landing_container a {
    display: block;
    margin: 0 auto;
    width: 20vw;
    min-width: 240px;
    padding: 20px;
    background-color: #5d5d5d;
    margin-top: 42px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'source_sans_probold';
    letter-spacing: 5px;
    font-size: 20px;
    color: white;
    transition: all 0.4s ease-in-out; }
    .landing_container a:hover {
      background-color: #282828; }

* {
  margin: 0;
  padding: 0; }

body {
  background-color: #0f0f0f; }
  body .logo {
    position: absolute;
    z-index: 2000; }
    body .logo img {
      margin: 2rem; }
  body .app {
    background-image: url(../assets/worldmap_v2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    overflow: hidden; }

.overlay {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(15, 15, 15, 0.75);
  cursor: url("../assets/cursor.cur"), crosshair; }

.overlay_container {
  position: relative;
  display: block;
  margin: 0 auto;
  top: calc(50% - 200px);
  text-align: center;
  color: white; }

.timeline {
  position: absolute;
  width: 100%;
  top: 92vh; }
  .timeline ul {
    display: block;
    text-align: center;
    width: 50vw;
    margin: 0 auto; }
    .timeline ul li {
      display: inline-block;
      width: calc(50vw / 11);
      color: white;
      line-height: 40px; }
      .timeline ul li a {
        z-index: 100;
        position: relative;
        display: block;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: white;
        transition: all 0.4s ease-in-out; }
        .timeline ul li a:hover {
          transform: scale(1.3); }
  .timeline:before {
    display: block;
    position: absolute;
    margin-top: 8px;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #5d5d5d;
    transition: width 0.4s ease-in-out; }
  .timeline:after {
    display: block;
    z-index: 10;
    position: absolute;
    margin-top: -52px;
    content: '';
    height: 4px;
    background-color: #ffffff;
    -webkit-animation: mymove 45s infinite;
    /* Chrome, Safari, Opera */
    animation: mymove 45s infinite;
    animation-timing-function: linear; }

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  0% {
    width: 0%; }
  10% {
    width: 27%; }
  90% {
    width: 73%; }
  100% {
    width: 100%; } }

/* Standard syntax */
@keyframes mymove {
  0% {
    width: 0%; }
  10% {
    width: 27%; }
  90% {
    width: 73%; }
  100% {
    width: 100%; } }

.timeline-dot-actif:after {
  content: '';
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  background-color: #0f0f0f;
  border: 4px solid white;
  border-radius: 50%; }
