* {
  margin: 0;
  padding: 0; }

body .app {
  background-image: url(../assets/worldmap.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  overflow: hidden; }
